/JavaBasico/Semana2/clase5/clase9/target/
/JavaBasico/Semana2/clase6/ejercicio1/nbproject/private/
/JavaBasico/Semana2/clase6/ejercicio1/build/
/JavaBasico/Semana1/clase1/ejercicio1/nbproject/private/
/JavaBasico/Semana1/clase1/ejercicio1/build/
/JavaBasico/Semana1/clase1/ejercicio1/dist/
/JavaBasico/Semana1/clase1/ejercicio2/nbproject/private/
/JavaBasico/Semana1/clase1/ejercicio2/build/
/JavaBasico/Semana1/clase1/ejercicio3/nbproject/private/
/JavaBasico/Semana1/clase1/ejercicio3/build/
/JavaBasico/Semana1/clase1/ejercicio4/nbproject/private/
/JavaBasico/Semana1/clase1/ejercicio4/build/
